<form action="<%=posts_url%>" method="POST">
    <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
    <input type="hidden" name="post[user_id]" value="<%=current_user.id%>">

    <label>Title:
        <input type="text" name="post[title]" value=<%=@post.title%>>
    </label>

    <label>URL:
        <input type="text" name="post[url]" value=<%=@post.url%>>
    </label>

    <label>Sub:
      <% @subs.each do |sub| %>
        <input type="checkbox" name="post[sub_id][]" value=<%= sub.id %>>
        <label><%= sub.title %></label>
      <% end %>
    </label>

    <label>Content:
        <textarea name="post[content]"><%=@post.content%></textarea>
    </label>

    <input type="submit" value="Create Post">
</form>